extends main/page_default

block head
    title Form

block content
    +page-title("Конкурс на самое безбашенное путешествие с Пинк")
    .page-content
        .container
            p.page-content__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam voluptas eligendi nostrum quia similique quod exercitationem.
                +form-story